! Useful resource: http://www.computerhope.com/unix/uxrdb.htm

!!!!! Tron Legacy palette !!!!!
! http://www.colourlovers.com/palette/1406402/Tron_Legacy_2

#define tron_black   #0c141f
#define tron_red     #df740c
#define tron_orange  #f58c4b
#define tron_yellow  #f8e420
#define tron_magenta #cb15c9
#define tron_blue    #6f15cb
#define tron_cyan    #6fc3df
#define tron_green   #00ff00
#define tron_white   #e6ffff

*background: tron_black
*foreground: tron_cyan

! st
st*color: tron_white
st*background: tron_black
st*foreground: tron_cyan
st*cursorColor: tron_yellow

!! Fonts
!st*faceName: terminus:size=14
!st*boldFont: terminus:size=14
!st*font: terminus:size=12
st*faceName: FiraCode:size=12
st*boldFont: FiraCode:size=12
st*font: FiraCode:size=12

!! General
st*scrollBar: false
st*loginShell: true
st*utf8: true
!!! Something about utf-8
st*locale: true

! XTerm
xterm*color: tron_white
xterm*background: tron_black
xterm*foreground: tron_cyan
xterm*cursorColor: tron_yellow

!! Fonts
xterm*faceName: terminus:size=14
xterm*boldFont: terminus:size=14
xterm*font: terminus

!! General
xterm*scrollBar: false
xterm*loginShell: true
xterm*utf8: true
!!! Something about utf-8
xterm*locale: true

!! Copying to PRIMARY and CLIPBOARD when highlighting a word (I guess)
xterm*translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

! Xscreensaver
xscreensaver*Dialog*foreground: tron_cyan
xscreensaver*Dialog*background: tron_black

!!! dircolors !!!
! color10 text files
! color12 is used in directory names (dircolors)

! blackdark
*color0:     tron_black
*color8:     #666666
! red/orange
*color1:     tron_orange
*color9:     tron_red
! green
*color2:     tron_green
*color10:    #9efe60
! yellow
*color3:     tron_yellow
*color11:    #ffff00
! blue
*color4:     tron_blue
*color12:    #7e5edc
! purple
*color5:     tron_magenta
*color13:    #b75edc
! cyan
*color6:     tron_cyan
*color14:    tron_white
! white
*color7:     tron_white
*color15:    tron_white
