*
*/*

!/\.gitignore
!/\.bash_profile
!/\.bashrc

!/\.config/
!/\.config/awesome
!/\.config/awesome/plugins/
!/\.config/awesome/plugins/*

!/\.git
!/README.md
!/setup.sh
!/\.vim/
!/\.vimrc
!/\.xinitrc
!/\.Xresources
