*
*/*

!/\.gitignore
!/\.bash_profile
!/\.bashrc
!/\.xinitrc
!/\.xsession

!/\.config/
!/\.config/awesome
!/\.config/awesome/plugins/
!/\.config/awesome/plugins/*

!/\.git
!/README.md
!/setup.sh
!/install-terminus-font.sh
!/bin

!/\.vim/
!/\.vimrc
!/\.xinitrc
!/\.Xresources
