*
*/*

!/\.gitignore
!/\.bash_profile
!/\.bashrc

!/\.config/
!/\.config/awesome
!/\.config/awesome/plugins/
!/\.config/awesome/plugins/*

!/\.git
!/README.md
!/setup.sh
!/install-terminus-font.sh
!/bin
!/bin/screenshot.sh

!/\.vim/
!/\.vimrc
!/\.xinitrc
!/\.Xresources
