[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vicious"]
	path = awesome4/.config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
