! Useful resource: http://www.computerhope.com/unix/uxrdb.htm
! Coloring
xterm*color: cyan
xterm*background: black
xterm*foreground: cyan
xterm*cursorColor: orange

! Fonts
xterm*faceName: Terminus:size=12
xterm*boldFont: Terminus:size=14
xterm*font: terminus

! General
xterm*scrollBar: false
xterm*loginShell: true
xterm*utf8: true
! Something about utf-8
xterm*locale: true

! Copying to PRIMARY and CLIPBOARD when highlighting a word (I guess)
xterm*translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
